<section class="comic">
    <header>
        <img src="<%= comic.thumbnail %>">
        <div>
            <h2><%= comic.name %></h2>
            <p><% comic %></p>
            <ul>
                <% for(creator of comic.creators)  { %>
                    <li><span><%= creator.role %></span><%= creator.name %></li>
                <% } %>
            </ul>
        </div>
    </header>

        <% characters.forEach(character => { %>
            <article>
                <h3><%= character.name %></h3>
                <img src="<%= character.thumbnail %>">
                <p><%= character.description %></p>
            </article>
        <% }) %>

</section>