{{#if comic}}
    <section class="comic">
        <header>
            <img src="{{comic.thumbnail}}">
            <div>
                <h2>{{comic.title }}</h2>
                <ul>
                    {{#each comic.creators as |creator|}}
                        {{#> creator}}
                            <li><span>{{ creator.role }}</span>{{creator.name }}</li>
                        {{/creator}}
                    {{/each}}
                </ul>
            </div>
        </header>
        
        {{#each comicCharacters as |character|}}
            {{#> character}}
            <article>
                <h2>{{ character.title }}</h2>
                <img src="{{ character.thumbnail }}">
                <p>{{ character.description }}</p>
            </article>
            {{/character}}
        {{/each}}
    </section>
{{/if}}