 {{#if characters}}
 <section class="characters">
    <h1>{{ charactersPageTitle }}</h1>
     {{#each characters as |character|}}
        {{#> character}}
        <article>
            <img src="{{ character.thumbnail }}" alt="Image from the {{ character.title }} character.">
            <a href="/characters/{{ character.id }}">
                <h2>{{ character.title }}</h2>
            </a>
            <p>comics ({{character.comicsAvailable}})</p>
        </article>
        {{/character}}
     {{/each}}
 </section>
{{/if}}