{{#if events }}
    <section class="events">
        <h1>{{ eventsPageTitle }}</h1>
        {{#each events as |event|}}
            {{#> event}}
                <article>
                    <img src="{{ event.thumbnail }}" alt="{{event.title}} Cover Image">
                    <a href="/events/{{event.id }}">
                        <h2>{{event.title}}</h2>
                    </a>
                </article>
            {{/event}}
        {{/each}}
    </section>
{{/if}}

{{#if event}}
    <section class="event">
        <header>
            <img src="{{ event.thumbnail }}"  alt="Image from the {{ event.title }} event.">
            <div>
                <h1>{{ event.title }}</h1>
            </div>
        </header>
    </section>
{{/if}}