{{#if results}}
<section>
    <h1>{{ searchPageTitle }}</h1>
    <p>{{results.length}} resultaten</p>
    {{#each results as |result|}}
        <article>
            <img src="{{ result.thumbnail }}">
            <a href="comics/{{result.id }}">
                <h2>{{result.title}}</h2>
            </a>
        </article>
    {{/each}}
</section>
{{/if}}