<h1 class="browse-title">Browse</h1>
<section class="browse comics">
    <header>
        <h2>{{ comicsPageTitle }}</h2>
    </header>
    {{#each comics as |comic|}}
        {{#> comic}}
            <article>
                <img src="{{ comic.thumbnail }}" alt="{{comic.title}} Cover Image">
                <a href="/comics/{{comic.id }}">
                    <h3>{{comic.title}}</h3>
                </a>
            </article>
        {{/comic}}
    {{/each}}
</section>
<section class="browse series">
    <header>
        <h2>{{ seriesPageTitle }}</h2>
    </header>
    {{#each series as |serie|}}
        {{#> serie}}
            <article>
                <img src="{{ serie.thumbnail }}" alt="{{serie.title}} Cover Image">
                <a href="/series/{{serie.id }}">
                    <h3>{{serie.title}}</h3>
                </a>
            </article>
        {{/serie}}
    {{/each}}
</section>
<section class="browse events">
    <header>
        <h2>{{ eventsPageTitle }}</h2>
    </header>
    {{#each events as |event|}}
        {{#> event}}
            <article>
                <img src="{{ event.thumbnail }}" alt="{{event.title}} Cover Image">
                <a href="/events/{{event.id }}">
                    <h3>{{event.title}}</h3>
                </a>
            </article>
        {{/event}}
    {{/each}}
</section>