<section class="comics">
    <header>
        <h1>{{ comicsPageTitle }}</h1>
    </header>
    {{#each comics as |comic|}}
        {{#> comic}}
            <article>
                <img src="{{ comic.thumbnail }}" alt="{{ comic.title }} Cover Image">
                <a href="/comics/{{ comic.id }}">
                    <h2>{{ comic.title }}</h2>
                </a>
            </article>
        {{/comic}}
    {{/each}}
    <footer>
        <a href="/comics/page/{{ pageNumber }}" class="btn btn--more">next page</a>
    </footer>
</section>


{{#if comic}}
    <section class="comic">
        <header>
            <img src="{{ comic.thumbnail }}" alt="Image from the {{ comic.title }} cover.">
            <div>
                <h1>{{ comic.title }}</h1>
                <ul>
                    <h2>Creators</h2>
                    {{#each comic.creators as |creator|}}
                        {{#> creator}}
                            <li><span>{{ creator.role }}</span> {{ creator.name }}</li>
                        {{/creator}}
                    {{/each}}
                </ul>
            </div>
        </header>
        
        <h2>Characters</h2>
        {{#each comicCharacters as |character|}}
            {{#> character}}
                <article>
                    <h3>{{ character.title }}</h3>
                    <img src="{{ character.thumbnail }}" alt="Image from the {{ character.title }} character.">
                    <p>{{ character.description }}</p>
                </article>
            {{/character}}
        {{/each}}
    </section>
{{/if}}