<%- include ("layout/head.ejs") %>

<main>
    <%- include ("partials/header.ejs") %>
    <div class="container">
        <%- include ("partials/nav.ejs") %>
        <div class="content">
            <%- include ("partials/comic.ejs") %>
        </div>
    </div>
</main>

<%- include ("layout/footer.ejs") %>