<%- include ("layout/head.ejs") %>

<main>
    <%- include ("partials/header.ejs") %>
    <div class="container">
        <%- include ("partials/nav.ejs") %>
        <section>
            <h2>Recent comics</h2>
            <%- include ("partials/comics.ejs") %>

            <h2>Recent characters</h2>
            <%- include ("partials/characters.ejs") %>
        </section>
    </div>
</main>

<%- include ("layout/footer.ejs") %>